<!DOCTYPE HTML>

<html ng-app = 'main_module'>
    <head>
        <meta charset = "utf-8">
        <title>PalauteSovellus</title>
        <link href = "/frontend/css/bootstrap.min.css" type="text/css" rel="stylesheet">
        <link href = "/frontend/css/bootstrap-theme.min.css" type="text/css" rel="stylesheet">
        <link href = "/frontend/css/angular-flash.min.css" type="text/css" rel="stylesheet">
        <link href = "/frontend/css/style.css" type="text/css" rel="stylesheet">
    </head>
    <body>
        <!--This is a placeholder for our views in this app-->
        <div ng-view></div>
        <script src = "/frontend/lib/jquery-2.1.4.min.js"></script>
        <script src = "/frontend/lib/angular.min.js"></script>
        <script src = "/frontend/lib/angular-route.min.js"></script>
        <script src = "/frontend/lib/angular-resource.min.js"></script>
        <script src = "/frontend/lib/angular-flash.min.js"></script>
        <script src = "/frontend/module/mainModule.js"></script>
    </body>
    <footer>
            <p>Copyright 2015 by Hannu Lisko</p>    
    </footer>
</html>