<!DOCTYPE HTML>

<head>
    <meta charset = "utf-8">
    <link href = "/frontend/css/bootstrap.min.css" type="text/css" rel="stylesheet">
    <link href = "/frontend/css/bootstrap-theme.min.css" type="text/css" rel="stylesheet">
    <link href = "/frontend/css/angular-flash.min.css" type="text/css" rel="stylesheet">
    <link href = "/frontend/css/style.css" type="text/css" rel="stylesheet">
</head>
<body>
    <h4>Tähän toiminnonvalinta</h4>
    <div class="radio">
  <label>
    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
    Palautelomake
  </label>
</div>
<div class="radio">
  <label>
    <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
    Vikailmoitus
  </label>
</div>
</body>